{% set local_facts = {} %}
{% set _ = local_facts.update ({ "kernel_path": kernel_path }) %}
{% set _ = local_facts.update ({ "initrd_path": initrd_path }) %}
{% set _ = local_facts.update ({ "disk_vsize": disk_vsize_default }) %}
{{ local_facts | to_nice_json }}
