#cloud-config
# vim: syntax=yaml
#
groups:
  - nadmin

users:
  - name: nadmin
    shell: /bin/bash
    gecos: "Noob Admin"
    primary-group: nadmin
    groups: sudo
    lock_passwd: true
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - "{{ ssh_auth_key }}"

{% if debug is defined %}
chpasswd:
  list: |
    root:root
    nadmin:nadmin
  expire: False
{% endif %}

growpart:
  mode: auto
  devices: ['/']
  ignore_growroot_disabled: false

{% if dist_release in ['16', '18'] %}
packages:
  - python-minimal
{% elif dist_release == '20' %}
packages:
  - python3-minimal
{% endif %}

runcmd:
# works on cloud-init >= v0.7.7
  - 'touch /etc/cloud/cloud-init.disabled'
{% if dist_release in ['18', '20'] %}
  - 'ln -sf /run/systemd/resolve/resolv.conf /etc/'
{% endif %}
  - 'sed -i "s/^\(#\|\)UseDNS \(.*\)/UseDNS no/" /etc/ssh/sshd_config'
