#jinja2:keep_trailing_newline: True, lstrip_blocks: True, trim_blocks: False
#cloud-config
# vim: syntax=yaml
#
manage_etc_hosts: false

groups:
  - nadmin

users:
  - name: nadmin
    shell: /bin/bash
    gecos: "Noob Admin"
    primary-group: nadmin
    groups: sudo
    lock_passwd: true
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - "{{ ssh_auth_key }}"

{% if debug is defined %}
chpasswd:
  list: |
    root:root
    nadmin:nadmin
  expire: False
{%- endif %}

growpart:
  mode: auto
  devices: ['/']
  ignore_growroot_disabled: false

{% if dist_release == '10' -%}
unverified_modules: ['resolv_conf']
{%- endif %}

# underscore
manage_resolv_conf: true

resolv_conf:
{%- if namedomain is defined %}
  domain: {{ namedomain }}
{%- endif %}
{%- if namesearch_list is defined %}
  searchdomains: {{ namesearch_list | to_json }}
{%- endif %}
{%- if nameserver_list is defined %}
  nameservers: {{ nameserver_list | to_json }}
{%- endif %}
  options:
    rotate: true
    timeout: 1

bootcmd:
  - 'userdel -r debian; groupdel debian'
  - 'rm /etc/sudoers.d/debian-cloud-init'

runcmd:
{# works on cloud-init >= v0.7.7 #}
  - 'touch /etc/cloud/cloud-init.disabled'
